<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="14-模版匹配">14. 模版匹配</h1><pre data-initialized="true" data-gclp-id="60"><code> ___       _   _____
(  _`\  _ ( )_(_   _)_                         _
| (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
|  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
| (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
(____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                       ( )_) |
                        \___/'
</code></pre>
                <h2 id="题目描述">题目描述</h2><p>判断一个字符串是否满足一个模版</p><ul><li>模版中的?可以匹配任一个具体字符
            </li>
                <li>模版中的*可以匹配0个或多个任意字符
                </li></ul>
                <h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是字符串；如果字符串为END，表示输入结束
            </li>
                <li>第二行是模版
                </li></ul>
                <p>输出</p><ul><li>针对每一组数据，输出模版和字符串是否匹配 YES/NO
            </li></ul>
                <h3 id="示例输入">示例输入</h3><blockquote><p>aaa</p><p>a*</p><p>abaa</p><p>?b*</p><p>aaba</p><p>?b?</p><p>END</p></blockquote><h3 id="示例输出">示例输出</h3><blockquote><p>YES</p><p>YES</p><p>NO</p></blockquote><h2 id="题目解答">题目解答</h2>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>