<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="30-朋友圈ii">30. 朋友圈II</h1><pre data-initialized="true" data-gclp-id="95"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>有n个小伙伴，每个小伙伴都认识0个或多个小伙伴（如果A认识B，B不一定认识A）。如果A认识B，B认识C，则通过B的介绍，A也能认识C。如果A、B、C能够两两认识，那么他们能够形成一个朋友圈。请问这n个小伙伴能够形成几个互不相关的朋友圈。</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是n；当n=-1，表示输入结束
            </li>
                <li>第二行是m，表示m个认识关系
                </li>
                <li>第三行是m对认识关系
                </li></ul>
                <p>输出</p><ul><li>针对每组输入，输出朋友圈的个数
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="96"><code>3
1
1 2
3
2
0 1 1 2
3
2
0 1 1 0
-1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="97"><code>3
3
2</code></pre>

            </section>
        </div>

    </div>

</div>