<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="30天怎么学">30天怎么学</h1><p>即使你有30天时间，我依然强烈建议你首先使用我们“7天的学习计划”来过一遍知识点。这如同读书，第一遍要略读。</p><p>之后的20天（记得给自己放三天假），你可以按照每天1-2个知识点的节奏再详细过一遍。</p><ul><li>线性结构：array、list、queue、stack、hash
            </li>
                <li>树形结构：二叉树、二叉搜索树、heap、tri
                </li>
                <li>图形结构：BFS、DFS、A*
                </li>
                <li>Iteration
                </li>
                <li>Recursion
                </li>
                <li>贪心法
                </li>
                <li>动态规划
                </li></ul>
                <p>但是这一遍可以针对每个知识点选择3-5道题来练习（题目列表可以参考书中的第四章和第五章）</p><p>具体方式依然是：</p><ul><li>亲自尝试解题
            </li>
                <li>观看视频讲解
                </li>
                <li>亲自再次coding
                </li>
                <li>个人总结
                </li></ul>
                <p>有余力的朋友，可以同时观看我们《LeetCode高频算法题解》中对应类型的题目。</p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>