<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="39-看山">39. 看山</h1><pre data-initialized="true" data-gclp-id="115"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>有n座山峰排成一排，站在一座山峰上向右看，映入眼帘的是右侧第一个更高的山峰。请依次找到这n个山峰的下一个高峰。</p><p>例如：</p><pre data-initialized="true" data-gclp-id="116"><code>
      |
  |   |
| |   |
| | | |
| | | |
3 4 2 5
</code></pre>
                <p>我们分别看到的山峰的高度是：</p><ul><li>在第一个高峰，看到的是4
            </li>
                <li>在第二个高峰，看到的是5
                </li>
                <li>在第三个高峰，看到的是5
                </li>
                <li>在第四个高峰，什么都看不到，因此输出-1
                </li></ul>
                <h3 id="输入输出">输入输出</h3><p>输入</p><ul><li><p>第一行是n；当n=-1时，表示输入结束</p></li>
                <li><p>第二行是n个山峰的高度</p></li></ul>
                <p>输出</p><ul><li>针对每组数据，依次输出这n个山峰向右看到的第一个山峰的高度
            </li></ul>
                <h3 id="示例输入">示例输入</h3><blockquote><p>4</p><p>3 4 2 5</p><p>-1</p></blockquote><h3 id="示例输出">示例输出</h3><blockquote><p>4 5 5 -1</p></blockquote>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>