<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="51-树的宽度">51. 树的宽度</h1><pre><code> ___ _ _____
                ( _`\ _ ( )_(_ _)_ _
                | (_) )(_)| ,_) | | (_) __ __ _ __ (_) _
                | _ &lt;'| || | | | | | /'_ `\ /'__`\( '__) | | /'_`\
                | (_) )| || |_ | | | |( (_) |( ___/| | _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__ |`\____)(_) (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2>

                <p>请计算一个二叉树的平均宽度</p>

    <p>例如，</p><pre><code>
     0
    / \
   1   2
  / \   \
 3  4    5</code></pre>
                <p>这个树一共三层，每一层的宽度为：1、2、3，因此平均宽度为2。</p>

                <h3 id="输入输出">输入输出</h3>
                <ul>
                    <li><p>第一行是n，表示二叉树的节点个数；当n=-1时，表示输入结束</p></li>
                    <li><p>之后的n行，每行是每个节点的左子树和右子树的节点编号；编号-1表示空</p></li>
                </ul>
                <p>输出</p>
                <ul>
                    <li>针对每组数据，输出这个二叉树的平均宽度（将结果取整）
                    </li>
                </ul>
                <h3 id="示例输入">示例输入</h3>
<pre><code>6
1 2
3 4
0 5
-1 -1
-1 -1
-1 -1
-1</code></pre>
                <h3 id="示例输出">示例输出</h3>
                <pre><code>2</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>