<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="56-走迷宫ii">56. 走迷宫II</h1><pre data-initialized="true" data-gclp-id="169"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>给你一个n*n的迷宫，请判断能否从(0,0)走到(n-1,n-1)</p><h3 id="输入输出">输入输出</h3><ul><li><p>第一行是n；当n=-1时，表示输入结束</p></li>
                <li><p>之后的n行，每行表示迷宫的形状（0表示畅通；1表示阻塞；x表示传送门，可以传送到任何一个标记为x的其它坐标）</p></li></ul>
                <p>输出</p><ul><li>针对每组数据，输出能否从(0,0)走到(n-1,n-1)
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="170"><code>3
000
110
110
3
0x1
110
0x0
-1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="171"><code>1
1</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>