<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="57-斐波那契数列题解">57. 斐波那契数列题解</h1><pre><code> ___       _   _____
(  _`\  _ ( )_(_   _)_                         _
| (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
|  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
| (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
(____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                       ( )_) |
                        \___/'
</code></pre>
                <p><a href="Problem_57.html">题目介绍</a></p><h2 id="题目分析">题目分析</h2><ul><li>频率：2
            </li>
                <li>难度：2
                </li>
                <li>关键词：iteration, recursion, dynamic programming
                </li></ul>
                <h2 id="直接计算">直接计算</h2><p>相信很多刷过这道题的朋友的第一个方法一定是所谓的动态规划。
                但我觉得这个方法是反直觉的。</p><h2 id="recursion">Recursion</h2><p>让我们首先可视化递推树
                （这个可视化是掌握所有动态规划的关键，一定要认真画）</p><pre><code class="lang-Java">
<span class="hljs-keyword">import</span> java.io.*;
<span class="hljs-keyword">import</span> java.util.*;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">F</span></span>{
    <span class="hljs-function"><span class="hljs-keyword">int</span> <span class="hljs-title">get</span><span class="hljs-params">(<span class="hljs-keyword">int</span> n)</span></span>{
        <span class="hljs-keyword">if</span>(n==<span class="hljs-number">0</span>) <span class="hljs-keyword">return</span> <span class="hljs-number">0</span>;
        <span class="hljs-keyword">if</span>(n==<span class="hljs-number">1</span>) <span class="hljs-keyword">return</span> <span class="hljs-number">1</span>;
        <span class="hljs-keyword">return</span> get(n-<span class="hljs-number">1</span>)+get(n-<span class="hljs-number">2</span>);
    }
}

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Solution</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> <span class="hljs-keyword">throws</span> FileNotFoundException</span>{
        Scanner in = <span class="hljs-keyword">new</span> Scanner(<span class="hljs-keyword">new</span> File(<span class="hljs-string">"input.txt"</span>));

        F f = <span class="hljs-keyword">new</span> F();

        <span class="hljs-keyword">int</span> n = in.nextInt();
        <span class="hljs-keyword">while</span>(n!=-<span class="hljs-number">1</span>){
            System.out.println( f.get(n) );
            n = in.nextInt();
        }
        in.close();
    }
}
</code></pre>
                <p>这个方法更符合递推逻辑的。</p><h2 id="cache策略">Cache策略</h2><p>但是当我们运行的时候，会发现当n＝40的时候需要很久才能得到结果；当n=50的时候已经跑不出来结果了。</p><p>为什么呢？这需要从我们的迭代树上观察，会发现很多重复的子结构，这指引我们加入cache。</p><pre><code class="lang-java">
<span class="hljs-keyword">import</span> java.io.*;
<span class="hljs-keyword">import</span> java.util.*;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">F</span></span>{
    HashMap&lt;Integer,Integer&gt; cache;
    F(){
        cache = <span class="hljs-keyword">new</span> HashMap&lt;Integer,Integer&gt;();
        cache.put(<span class="hljs-number">0</span>,<span class="hljs-number">0</span>);
        cache.put(<span class="hljs-number">1</span>,<span class="hljs-number">1</span>);
    }

    <span class="hljs-function"><span class="hljs-keyword">int</span> <span class="hljs-title">get</span><span class="hljs-params">(<span class="hljs-keyword">int</span> n)</span></span>{
        <span class="hljs-keyword">if</span>(cache.containsKey(n)) <span class="hljs-keyword">return</span> cache.get(n);

        cache.put(n, get(n-<span class="hljs-number">1</span>)+get(n-<span class="hljs-number">2</span>));

        <span class="hljs-keyword">return</span> cache.get(n);
    }
}

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Solution</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> <span class="hljs-keyword">throws</span> FileNotFoundException</span>{
        Scanner in = <span class="hljs-keyword">new</span> Scanner(<span class="hljs-keyword">new</span> File(<span class="hljs-string">"input.txt"</span>));

        F f = <span class="hljs-keyword">new</span> F();

        <span class="hljs-keyword">int</span> n = in.nextInt();
        <span class="hljs-keyword">while</span>(n!=-<span class="hljs-number">1</span>){
            System.out.println( f.get(n) );
            n = in.nextInt();
        }
        in.close();
    }
}
</code></pre>
                <h2 id="动态规划">动态规划</h2><p>我们当然也可以从正面来进行计算</p><pre><code class="lang-java">
<span class="hljs-keyword">import</span> java.io.*;
<span class="hljs-keyword">import</span> java.util.*;

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Solution</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> <span class="hljs-keyword">throws</span> FileNotFoundException</span>{
        Scanner in = <span class="hljs-keyword">new</span> Scanner(<span class="hljs-keyword">new</span> File(<span class="hljs-string">"input.txt"</span>));

        <span class="hljs-keyword">int</span> n = in.nextInt();
        <span class="hljs-keyword">while</span>(n!=-<span class="hljs-number">1</span>){
            <span class="hljs-keyword">int</span> result = <span class="hljs-number">1</span>;
            <span class="hljs-keyword">int</span> pre = <span class="hljs-number">0</span>;

            <span class="hljs-keyword">if</span>(n==<span class="hljs-number">0</span>) result = <span class="hljs-number">0</span>;

            <span class="hljs-keyword">for</span>(<span class="hljs-keyword">int</span> i=<span class="hljs-number">2</span>;i&lt;=n;++i){
                <span class="hljs-keyword">int</span> temp = result;
                result += pre;
                pre = temp;
            }

            System.out.println(result);
            n = in.nextInt();
        }
        in.close();
    }
}
</code></pre>
                <h2 id="扩展问题">扩展问题</h2><p>总结，动态规划需要几步？</p><ul><li>画出搜索树
            </li>
                <li>根据节点语义确定cache
                </li>
                <li>根据节点连接构造推导条件
                </li></ul>
                <p>延展思考</p><ul><li>我们的int是否足够保存斐波那契数列的结果呢？
            </li>
                <li>是否有什么更快的数学方法呢？
                </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>