<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="binary-index-tree">Binary Index Tree</h1>

                <p>二叉检索树是一种美丽的自生循环的树，具有数学上的美感和组合的力量。</p>

                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>部分求和：<a href="#/27.部分求和">题目</a>、<a href="#/27.部分求和解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>