<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="depth-first-search">Depth First Search</h1>
                <p>深度优先搜索是我们走迷宫的策略。</p>
                <h2 id="dfs">DFS</h2>
                <ul>
                    <li>朋友圈：<a href="#/29.朋友圈">题目</a>、<a href="#/29.朋友圈解和解题报告">解题报告</a>
                    </li>
                </ul>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>平方求和：<a href="#/5.平方求和">题目</a>、<a href="#/5.平方求和解题报告">题解</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>