<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="divide-and-conquer">Divide and Conquer</h1>
                <p>分治法通过将大问题拆解为子问题来进行求解。大多数时候子问题和大问题在结构上是类似的。</p>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>寻找k：<a href="#/65.寻找k">题目</a>、<a href="#/65.寻找k解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>