<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="graph">Graph</h1>

                <p>图形类的题目，往往基于输入的情况，可以分为</p>
                <ul>
                    <li>矩阵表示
                    </li>
                    <li>临接表表示
                    </li>
                </ul>
                <p>而针对图形的遍历，也往往和树比较类似</p>
                <ul>
                    <li>Breadth first search
                    </li>
                    <li>Depth first search
                    </li>
                    <li>A* search
                    </li>
                </ul>
                <h2 id="入门">入门</h2>
                <ul>
                    <li>朋友圈：<a href="#/29.朋友圈">题目</a>、<a href="#/29.朋友圈解和解题报告">解题报告</a>
                    </li>
                </ul>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>克隆图：<a href="#/68.克隆图">题目</a>、<a href="#/68.克隆图解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>

    </div>

</div>