<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="greedy">Greedy</h1>
                <p>贪心法有很多很巧妙的捷径之处，我一直觉得动态规划也属于一种贪心。
                    但是让我们放下动态规划，专注一些踏踏实实的贪心。</p>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>沙漠之旅：<a href="#/41.沙漠之旅">题目</a>、<a href="#/41.沙漠之旅解题报告">解题报告</a>
                    </li>
                    <li>沙漠之旅II：<a href="#/42.沙漠之旅II">题目</a>、<a href="#/42.沙漠之旅II解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>