<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="heap">Heap</h1>

                <p>Heap是伪装成二叉树的线性结构。让我们用最少的空间方便的找到最值。</p>

                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>验证heap：<a href="#/66.验证heap">题目</a>、<a href="#/66.验证heap解题报告">解题报告</a>
                    </li>
                    <li>设计LRU Cache：<a href="#/62.设计LRU Cache">题目</a>、<a href="#/62.设计LRU Cache解题报告">解题报告</a>
                    </li>
                    <li>质因数：<a href="#/69.质因数">题目</a>、<a href="#/69.质因数解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>