<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="recursion">Recursion</h1>
                <p>Recursion的内心是分治法。这中分治法往往有类似的子问题。
                    根据子问题的特点，往往会成为二分的题目或者动态规划的题目。</p>
                <h2 id="入门题目">入门题目</h2>
                <ul>
                    <li>快乐数字：<a href="#/1.快乐数字">题目</a>、<a href="#/1.快乐数字解题报告">题解</a>
                    </li>
                    <li>翻转链表：<a href="#/3.翻转链表">题目</a>、<a href="#/3.翻转链表解题报告">题解</a>
                    </li>
                </ul>
                <h2 id="进阶题目">进阶题目</h2>
                <ul>
                    <li>平方求和：<a href="#/5.平方求和">题目</a>、<a href="#/5.平方求和解题报告">题解</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>