<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="segment-tree">Segment Tree</h1>

                <p>线段树本质是被二分的树，每个节点都有所有儿子的温暖。</p>

                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>部分求和：<a href="#/27.部分求和">题目</a>、<a href="#/27.部分求和解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>