<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="stack">Stack</h1>

                <p>堆栈模拟了我们厨房的放盘子，往往是后进先出。</p>

                <h2 id="基础">基础</h2>
                <ul>
                    <li>计算器：<a href="#/37.计算器">题目</a>、<a href="#/37.计算器解题报告">解题报告</a>
                    </li>
                </ul>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>计算器II：<a href="#/38.计算器II">题目</a>、<a href="#/38.计算器II解题报告">解题报告</a>
                    </li>
                    <li>树的三种遍历II：<a href="#/67.树的三种遍历II">题目</a>、<a href="#/67.树的三种遍历II解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>

</div>