<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="system-design">System Design</h1>
                <p>系统设计是对现实的还原，也是游戏的基础。</p>
                <h2 id="进阶">进阶</h2>
                <ul>
                    <li>设计LRU Cache：<a href="#/62.设计LRU Cache">题目</a>、<a href="#/62.设计LRU Cache解题报告">解题报告</a>
                    </li>
                    <li>计算器：<a href="#/37.计算器">题目</a>、<a href="#/37.计算器解题报告">解题报告</a>
                    </li>
                    <li>贪吃蛇：<a href="#/31.设计贪吃蛇">题目</a>、<a href="#/31.设计贪吃蛇解题报告">解题报告</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</div>