<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="system-design">System Design</h1><p>系统设计是对现实的还原，也是游戏的基础。</p><h2 id="进阶">进阶</h2><ul><li>设计LRU Cache：<a href="Problem_62.html">题目</a>、<a href="Solution_62.html">解题报告</a>
            </li>
                <li>计算器：<a href="Problem_37.html">题目</a>、<a href="Solution_37.html">解题报告</a>
                </li>
                <li>贪吃蛇：<a href="Problem_31.html">题目</a>、<a href="Solution_31.html">解题报告</a>
                </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>