<!DOCTYPE html>
<html class="ebookPageMainHtmlTag" ng-app="Template">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="./cssjs_files/style.css">
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="./cssjs_files/02dd3857c669de9e1a0ab42c61337ed361c02be3.css">
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="./cssjs_files/e021be9d72fdda8b2726b5e22a5a8f1854940d23.css">
    <link rel="stylesheet" type="text/css" class="__meteor-css__" href="./cssjs_files/5fa17d9f830053db94e0ee954d1ac69c6c118802.css">
    <meta name="fragment" content="!">
    <title>CS102 Top100高频算法训练营</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <script src="angular.js"></script>
    <script src="controler.js"></script>
    <script src="angular-route.min.js"></script>
</head>

<body id="page-top" class="index modal-open" style="padding-right: 15px;"  >

<div class="ebookMainContainer" ng-controller="navRepeat">
    <div class="book with-summary font-size-2 font-family-1">
        <div class="book-summary" >
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav role="navigation" >
                <ul class="summary">
                    <li class="divider"></li>
                    <li class="header">Summary</li>
                    <li class="chapter" ng-repeat = "varb in navOB">
                        <a href= {{"#/"+varb.name}}>{{varb.name}}</a>

                        <ul class="articles" ng-repeat="data in varb.JSON">
                            <li class="chapter">
                                <a href= {{"#/"+data}}>{{data}}</a>
                                <ul class="articles" ng-if="data =='学习计划'" ng-repeat="data2 in varb.JSON2">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='生长学习法'" ng-repeat="data2 in varb.JSON3">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='Linear'" ng-repeat="data2 in varb.JSON2">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='Tree'" ng-repeat="data2 in varb.JSON3">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='Graph'" ng-repeat="data2 in varb.JSON4">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='Search'" ng-repeat="data2 in varb.JSON2">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='System Design'" ng-repeat="data2 in varb.JSON3">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                                <ul class="articles" ng-if="data =='Math'" ng-repeat="data2 in varb.JSON4">
                                    <li class="chapter" >
                                        <a href={{"#/"+data2}}>
                                            {{data2}}
                                        </a>
                                        <ul class="articles">

                                        </ul>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="#">
                            Published By WebStudio
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="book-body">
            <div class="body-inner" >
                <div class="book-header" role="navigation">
                    <a id="sidePanelToggleBtn" class="btn pull-left js-toolbar-action" aria-label="" href="#">
                        <i class="fa fa-align-justify"></i>
                    </a>
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        <a href="."></a>
                    </h1>
                </div>
                <div class="page-wrapper" tabindex="-1" role="main" ng-view="">
                </div>
            </div>

            <a href="/livecourses/66RhgaqQPgkWfGQcT/ebook/57d08551f33f8d1e92ce211e/7f7a700b-a167-443b-861c-ed560f86773e" class="navigation navigation-prev">
                <i class="fa fa-angle-left"></i>
            </a>


            <a href="/livecourses/66RhgaqQPgkWfGQcT/ebook/57d08551f33f8d1e92ce211e/6d1c3361-54f3-481f-8950-39800428a51a" class="navigation navigation-next" style="margin-right: 0px;">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
    </div>
</div>
</body>
