<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="100天怎么学">100天怎么学</h1><p>如果你有100天时间？（我真羡慕你）但是在前30天依然要按照我们“30天怎么学”的方法来操作。</p><p>你之后有70天（最好每周能休息1-2天），可以每天阅读本书的1-2个子章节，对应完成3-5道题目。
                同时参考《LeetCode高频算法题解》中的对应题目，亲自实操3-5道题目。</p><p>我相信经历这样的训练，你一定会拿到心仪的offer。</p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>