<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="16-字符串变换">16. 字符串变换</h1><pre data-initialized="true" data-gclp-id="62"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>给你两个字符串，计算从第一个字符串变成第二个字符串的最少变换次数
                你可以使用以下三种变换</p><ul><li>插入一个字符
            </li>
                <li>删除一个字符
                </li>
                <li>修改一个字符
                </li></ul>
                <h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是第一个字符串；如果字符串为END，表示输入结束
            </li>
                <li>第二行是第二个字符串
                </li></ul>
                <p>输出</p><ul><li>针对每一组数据，输出最少的变换次数
            </li></ul>
                <h3 id="示例输入">示例输入</h3><blockquote><p>aaa</p><p>a</p><p>ba</p><p>ab</p><p>END</p></blockquote><h3 id="示例输出">示例输出</h3><blockquote><p>2</p><p>2</p></blockquote>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>