<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="19-偷金子ii">19. 偷金子II</h1><pre data-initialized="true" data-gclp-id="66"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>一圈n个房子，每一个房子都有一定的金子。在这些房子之间安装着报警系统，当你偷取三个连续的房子时会引发报警。如何才能偷走最多的金子呢？</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li><p>第一行是n；如果n为-1，表示输入结束</p></li>
                <li><p>第二行是n个非负整数</p></li></ul>
                <p>输出</p><ul><li>针对每组数据，输出最多能够偷到多少金子
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="67"><code>4
                1 2 5 5
                -1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="68"><code>10</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>