<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="2-忧郁数字">2. 忧郁数字</h1><pre data-initialized="true" data-gclp-id="12"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>判断一个数字是否是忧郁数字？</p><p>如果一个数字能够通过有限次忧郁变换成为0，则是忧郁数字。</p><p>忧郁变换是对一个数字的每一位的平方数求积。</p><p>例如：</p><p>对于68</p><ul><li><p>68 =&gt; 6^2 * 8^2= 2304</p></li>
                <li><p>2304 =&gt; 2^2 <em> 3^2 </em> 0^2 * 4^2 = 0</p></li></ul>
                <p>因此68是忧郁数字</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是n；如果n为-1，表示输入结束
            </li></ul>
                <p>输出</p><ul><li>针对每组数据，输出是否是忧郁数字 1/0
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="13"><code>68
                1
                -1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="14"><code>1
                0</code></pre>
                <p>每一位的数字的平方的乘积，是否变成0</p><p>如果是平方的成绩，只需要</p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>