<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="安排课程解题报告">安排课程解题报告</h1><pre><code> ___       _   _____
(  _`\  _ ( )_(_   _)_                         _
| (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
|  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
| (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
(____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                       ( )_) |
                        \___/'
</code></pre>
                <p>使用heap保存当前可以上的课，每次选择最小的</p><pre><code class="lang-java">
<span class="hljs-keyword">import</span> java.util.LinkedList;
<span class="hljs-keyword">import</span> java.util.Scanner;
<span class="hljs-keyword">import</span> java.io.File;
<span class="hljs-keyword">import</span> java.io.FileNotFoundException;
<span class="hljs-keyword">import</span> java.util.PriorityQueue;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Node</span> </span>{

    LinkedList&lt;Integer&gt; requests;
    <span class="hljs-keyword">int</span> count;
    <span class="hljs-keyword">int</span> id;

    Node(<span class="hljs-keyword">int</span> id){
        requests = <span class="hljs-keyword">new</span> LinkedList&lt;Integer&gt;();
        count = <span class="hljs-number">0</span>;
        <span class="hljs-keyword">this</span>.id = id;
    }
}

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">SolutionSimple</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> <span class="hljs-keyword">throws</span> FileNotFoundException </span>{

        Scanner in = <span class="hljs-keyword">new</span> Scanner(<span class="hljs-keyword">new</span> File(<span class="hljs-string">"input.txt"</span>));
        <span class="hljs-keyword">int</span> n = in.nextInt();
        <span class="hljs-keyword">while</span>(n!=-<span class="hljs-number">1</span>){

            Node[] tree = <span class="hljs-keyword">new</span> Node[n];
            <span class="hljs-keyword">for</span>(<span class="hljs-keyword">int</span> i=<span class="hljs-number">0</span>; i&lt;n; ++i) tree[i] = <span class="hljs-keyword">new</span> Node(i);

            <span class="hljs-keyword">int</span> m = in.nextInt();
            <span class="hljs-keyword">while</span>(m--!=<span class="hljs-number">0</span>){
                <span class="hljs-keyword">int</span> front = in.nextInt();
                <span class="hljs-keyword">int</span> back = in.nextInt();
                tree[back].requests.add(front);
                ++tree[front].count;
            }

            PriorityQueue&lt;Integer&gt; pq = <span class="hljs-keyword">new</span> PriorityQueue&lt;Integer&gt;();

            <span class="hljs-keyword">for</span>(<span class="hljs-keyword">int</span> i=<span class="hljs-number">0</span>; i&lt;n; ++i){
                <span class="hljs-keyword">if</span>(tree[i].count==<span class="hljs-number">0</span>) pq.add(i);
            }

            <span class="hljs-keyword">while</span>(pq.isEmpty()==<span class="hljs-keyword">false</span>){
                <span class="hljs-keyword">int</span> id = pq.poll();
                System.out.print(id+<span class="hljs-string">" "</span>);

                <span class="hljs-keyword">for</span>(Integer father: tree[id].requests){
                    --tree[father].count;
                    <span class="hljs-keyword">if</span>(tree[father].count == <span class="hljs-number">0</span>) pq.add(father);
                }

            }
            System.out.println();
            n = in.nextInt();
        }
        in.close();
    }
}
</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>