<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="29-朋友圈">29. 朋友圈</h1><pre data-initialized="true" data-gclp-id="92"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>有n个小伙伴，每个小伙伴都有0个或多个朋友（如果A是B的朋友，B一定是A的朋友）。如果A是B的朋友，B是C的朋友，那么ABC能够形成一个朋友圈。请问这n个小伙伴能够形成几个互不相关的朋友圈。</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li><p>第一行是n；当n=-1，表示输入结束</p></li>
                <li><p>第二行是m，表示m个朋友关系</p></li>
                <li><p>第三行是m对朋友关系</p></li></ul>
                <p>输出</p><ul><li>针对每组输入，输出朋友圈的个数
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="93"><code>3
                1
                1 2
                3
                2
                0 1 1 2
                -1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="94"><code>2
                1</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>