<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="31模版">3+1模版</h1><p>从那些在短期内算法成绩突飞猛进的小伙伴的身上，我们总结了以下四个特质：</p><ul><li>拆解问题：把问题逐步拆解为更小的可以解决的点。
            </li>
                <li>可视思维：把思维过程可视化，你会发现丢失的拼图。
                </li>
                <li><p>打破假设：我们总是被隐藏的想当然的念头所阻碍。</p></li>
                <li><p>寻找类比：找到问题的本质，会让你从历史中举一反三。</p></li></ul>
                <p>现在看起来是不是还有一些迷茫？没关系，我们会通过一个一个具体的题目，让你也具备这些特质。</p>
            </section>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>