<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="32-随机数生成器">32. 随机数生成器</h1><pre data-initialized="true" data-gclp-id="102"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>给你一个排好序的正整数数组，其中有m个元素。另外给你一个正整数n。</p><ul><li>m&lt;n
            </li>
                <li>数组中的每个元素都小于n
                </li></ul>
                <p>请实现一个随机数生成器RandN，能够等概率的输出每一个小于等于n但是不在数组中的正整数。</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是m；如果m为-1，表示输入结束
            </li>
                <li>第二行是m个非负整数
                </li></ul>
                <p>输出</p><ul><li>使用随机生成器生成10个元素
            </li></ul>
                <h3 id="示例输入">示例输入</h3><blockquote><p>3</p><p>1 2 5</p><p>7</p><p>-1</p></blockquote><h3 id="示例输出">示例输出</h3><blockquote><p>7 4 3 4 7 4 3 3 7 6</p></blockquote><h2 id="题目解答">题目解答</h2><p>keyword: binary search, random, math</p><p>这是一道需要花点时间去读懂的题目。</p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>