<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="binary-index-tree">Binary Index Tree</h1><p>二叉检索树是一种美丽的自生循环的树，具有数学上的美感和组合的力量。</p><h2 id="进阶">进阶</h2><ul><li>部分求和：<a href="Problem_27.html">题目</a>、<a href="Solution_27.html">解题报告</a>
            </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>