<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="graph">Graph</h1><p>图形类的题目，往往基于输入的情况，可以分为</p><ul><li>矩阵表示
            </li>
                <li>临接表表示
                </li></ul>
                <p>而针对图形的遍历，也往往和树比较类似</p><ul><li>Breadth first search
            </li>
                <li>Depth first search
                </li>
                <li>A* search
                </li></ul>
                <h2 id="入门">入门</h2><ul><li>朋友圈：<a href="Problem_29.html">题目</a>、<a href="Solution_29.html">解题报告</a>
            </li></ul>
                <h2 id="进阶">进阶</h2><ul><li>克隆图：<a href="Problem_68.html">题目</a>、<a href="Solution_68.html">解题报告</a>
            </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>