<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="linear">Linear</h1><p>线性结构是我们认知世界的基础。</p><p>这些线性的数据结构虽然从逻辑上看都是连续存放的，但是在物理上往往存储方式各不相同，甚至对上层暴露出来的结构也各有特色，因此才有了千变万化的世界。</p>
            </section>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>