<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="list">List</h1><p>List是数据分散存放，但是被串联起来的数据结构。</p><h2 id="基础">基础</h2><ul><li>翻转链表：<a href="Problem_3.html">题目</a>、<a href="Solution_3.html">题解</a>
            </li></ul>
                <h2 id="进阶">进阶</h2><ul><li>设计LRU Cache：<a href="Problem_62.html">题目</a>、<a href="Solution_62.html">解题报告</a>
            </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>