<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="search">Search</h1><p>搜索往往就是Recursion，但是我们依然从树和图的角度来切入它。</p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>