<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="一个指导思想">一个指导思想</h1><p>生长学习法是在探索学习最基本的出发点。
                我们的时间总是有限的，如何在有限的时间内实现更大的目标呢？</p><p>这逼迫我们选择最重要的事情，让我们做到小而美。因此，我们最基本的指导思想是：</p><pre data-initialized="true" data-gclp-id="11"><code>Less is more</code></pre>
                <p>我们首先要做的是减法，做的少，才能做的精，才能更有收获。</p><p>因此，我们一直在想什么才是最重要的Top100的题目，更精华的Top50，甚至最重要的Top25的题目。
                并且依此来构建我们整套课程。</p>
            </section>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>