<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="公开课第一节（线性结构）">公开课第一节（线性结构）</h1><p>1 Array</p><ul><li>数组去重：<a href="Problem_60.html">题目</a>、<a href="Solution_60.html">解题报告</a>
            </li></ul>
                <p>2 Pointer/List</p><ul><li>设计LRU Cache：<a href="Problem_62.html">题目</a>、<a href="Solution_62.html">解题报告</a>
            </li></ul>
                <p>3 Queue</p><ul><li>沙漠之旅：<a href="Problem_41.html">题目</a>、<a href="Solution_41.html">解题报告</a>
            </li></ul>
                <p>4 Stack</p><ul><li>计算器：<a href="Problem_37.html">题目</a>、<a href="Solution_37.html">解题报告</a>
            </li></ul>

            </section>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>