<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="引言">引言</h1><pre data-initialized="true" data-gclp-id="0"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></pre>
                <p>全书分为七章：</p><ul><li><p>第一章《引言》：介绍了我们是谁。</p></li>
                <li><p>第二章《Top100高频算法训练营》：结合我们直播／视频课程的配套讲义。</p></li>
                <li><p>第三章《如何学习算法设计》：介绍了如何使用这本书，以及整本书背后的设计思想。</p></li>
                <li><p>第四章《数据结构》：从数据结构的角度来理解算法设计。</p></li>
                <li><p>第五章《算法结构》：从算法结构的角度来理解算法设计。</p></li>
                <li><p>第六章《高频题目列表》：收录了最新最全的算法面试题。</p></li>
                <li><p>第七章《解题报告》：我们针对第六章收录的题目给出对应的解题报告。</p></li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>