<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="生长学习法">生长学习法</h1><p>生长学习法是我们构建课程的基础。</p><p>在算法设计的学习中，我们主要是用其中的3+1模版，想要了解更多，可以参考我们的视频。</p><ul><li><a href="https://www.bittiger.io/videos/h69L6jPfqRXciFLTf/qtFZHdaf6JJQxyMCB" target="_blank">简化版</a>
            </li>
                <li><a href="https://www.bittiger.io/videos/akBBzrbMQYiBtmn4b/2EkqDyjCYc5x8WPfW" target="_blank">完整版</a>
                </li></ul>
                <p><img alt="Local Image" src="../pic/GraphLearning.png"></p>
            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>