<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="1-快乐数字">1. 快乐数字</h1><pre data-initialized="true" data-gclp-id="221"><code> ___       _   _____
                (  _`\  _ ( )_(_   _)_                         _
                | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                ( )_) |
                \___/'
            </code></pre>
                <h2 id="题目描述">题目描述</h2><p>判断一个正整数是否是快乐数字？</p><p>如果一个数字能够通过有限次快乐变换成为1，则是快乐数字。</p><p>快乐变换是对一个数字的每一位的平方数求和。</p><p>例如：</p><p>对于68</p><ul><li>68 =&gt; 6^2+8^2= 100
            </li>
                <li>100 =&gt; 1^2 + 0^2 + 0^2 = 1
                </li></ul>
                <p>因此68是快乐数字</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是n；如果n为-1，表示输入结束
            </li></ul>
                <p>输出</p><ul><li>针对每组数据，输出是否是快乐数字 true/false
            </li></ul>
                <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="222"><code>68
-1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="223"><code>true</code></pre>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>