<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="23-会议室ii解题报告">23. 会议室II解题报告</h1><pre><code> ___       _   _____
(  _`\  _ ( )_(_   _)_                         _
| (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
|  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
| (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
(____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                       ( )_) |
                        \___/'
</code></pre>
                <h2 id="题目分析">题目分析</h2><ul><li>频率：3
            </li>
                <li>难度：3
                </li>
                <li>关键词：greedy
                </li></ul>
                <h2 id="贪心算法">贪心算法</h2><pre><code class="lang-java">
<span class="hljs-keyword">import</span> java.util.*;
<span class="hljs-keyword">import</span> java.io.*;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Event</span> <span class="hljs-keyword">implements</span> <span class="hljs-title">Comparable</span>&lt;<span class="hljs-title">Event</span>&gt;</span>{
    <span class="hljs-keyword">int</span> t; <span class="hljs-comment">// time</span>
    <span class="hljs-keyword">int</span> state; <span class="hljs-comment">// 1 begin or -1 end  // do you know why?</span>
    Event(<span class="hljs-keyword">int</span> t, <span class="hljs-keyword">int</span> state){
        <span class="hljs-keyword">this</span>.t = t;
        <span class="hljs-keyword">this</span>.state = state;
    }

    <span class="hljs-meta">@Override</span>
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">int</span> <span class="hljs-title">compareTo</span><span class="hljs-params">(<span class="hljs-keyword">final</span> Event temp)</span></span>{
        <span class="hljs-keyword">if</span>(t == temp.t) <span class="hljs-keyword">return</span> Integer.compare(state,  temp.state);
        <span class="hljs-keyword">else</span> <span class="hljs-keyword">return</span> Integer.compare(t, temp.t);
    }
}

<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Solution</span> </span>{
    <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">void</span> <span class="hljs-title">main</span><span class="hljs-params">(String[] args)</span> <span class="hljs-keyword">throws</span> FileNotFoundException </span>{
        Scanner in = <span class="hljs-keyword">new</span> Scanner(<span class="hljs-keyword">new</span> File(<span class="hljs-string">"input.txt"</span>));
        <span class="hljs-keyword">int</span> n = in.nextInt();
        <span class="hljs-keyword">while</span>(n!=-<span class="hljs-number">1</span>) {
            Event[] timeline = <span class="hljs-keyword">new</span> Event[n*<span class="hljs-number">2</span>];
            <span class="hljs-keyword">for</span>(<span class="hljs-keyword">int</span> i=<span class="hljs-number">0</span>; i&lt;n; ++i){
                timeline[i*<span class="hljs-number">2</span>] = <span class="hljs-keyword">new</span> Event(in.nextInt(), <span class="hljs-number">1</span>);
                timeline[i*<span class="hljs-number">2</span>+<span class="hljs-number">1</span>] = <span class="hljs-keyword">new</span> Event(in.nextInt(), -<span class="hljs-number">1</span>);
            }
            Arrays.sort(timeline);

            <span class="hljs-keyword">int</span> result = <span class="hljs-number">0</span>;
            <span class="hljs-keyword">int</span> count = <span class="hljs-number">0</span>;
            <span class="hljs-keyword">for</span>(<span class="hljs-keyword">int</span> i=<span class="hljs-number">0</span>; i&lt;timeline.length; ++i){
                count += timeline[i].state;
                <span class="hljs-keyword">if</span>(count&gt;result) result = count;
            }

            System.out.println(result);

            n = in.nextInt();
        }
        in.close();
    }
}
</code></pre>
                <h2 id="贪心证明">贪心证明</h2><p>比较容易想到的是贪心算法：同时冲突的会议室个数是我们最少需要的个数。但是你要如何证明这个方法是正确的呢？</p><p>这需要我们证明出一个方案能够安排所有会议。证明如下：</p><p>在任何一个时刻，会议有三种状况：</p><ul><li>开始并结束
            </li>
                <li>开始没有结束
                </li>
                <li>没有开始没有结束
                </li></ul>
                <p>我们假设在任何一个时刻，有开始但没有结束的会议的数量最大值为q。那么我们安排的会议至少需要q，因为此时这q个会议都在同时开始。</p><p>然后我们需要证明，为什么q个会议室能够完美安排n个会议。</p><p>假设前k个会议，已经被p个会议室完美安排了。（p&lt;=q）</p><p>接下来有两种情况</p><ul><li><p>碰到了新开始的会议：那么p一定小于q，否则出现了大于q个会议同时开始，并没有结束的情况，这个与原假设矛盾。
                因此，至少还能找到一个会议室安排这个会议。</p></li>
                <li><p>碰到了结束的会议：这时候需要的会议室会减少一个，因此依然被q以内的会议室完美安排。</p></li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>