<div class="page-inner">
                <div id="book-search-results">
                    <div class="search-noresults">
                        <section class="normal markdown-section">
                            <h1 id="62-设计lru-cache">62. 设计LRU Cache</h1><pre data-initialized="true" data-gclp-id="188"><code> ___       _   _____
                            (  _`\  _ ( )_(_   _)_                         _
                            | (_) )(_)| ,_) | | (_)   __     __   _ __    (_)   _
                            |  _ &lt;'| || |   | | | | /'_ `\ /'__`\( '__)   | | /'_`\
                            | (_) )| || |_  | | | |( (_) |(  ___/| |    _ | |( (_) )
                            (____/'(_)`\__) (_) (_)`\__  |`\____)(_)   (_)(_)`\___/'
                            ( )_) |
                            \___/'
                        </code></pre>
                            <h2 id="题目描述">题目描述</h2><p>请设计一个LRU的Cache</p><h3 id="输入输出">输入输出</h3><p>输入</p><ul><li>第一行是n，表示cache的大小；当n=-1时，表示输入结束
                        </li>
                            <li>第二行是k，表示有k次操作
                            </li>
                            <li>之后的k行，每行是一个操作：当操作是SET时，之后的两个整数表示key和value；当操作是SET时，之后的整数表示key
                            </li></ul>
                            <p>输出</p><ul><li>针对每一个GET，输出这个key对应的value，如果key不存在输出null
                        </li></ul>
                            <h3 id="示例输入">示例输入</h3><pre data-initialized="true" data-gclp-id="189"><code>2
6
SET 1 2
SET 2 3
SET 3 5
SET 4 6
GET 2
GET 3
-1</code></pre>
                <h3 id="示例输出">示例输出</h3><pre data-initialized="true" data-gclp-id="190"><code>null
5</code></pre>

            </section>
        </div>

    </div>

</div>