<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="7天怎么学">7天怎么学</h1><p>如果只有七天，时间非常紧迫，可以基于我们第二章公开课的顺序，学习相应的题目。</p><p>具体来说，针对课程上的每一道题</p><ul><li>亲自尝试解题
            </li>
                <li>观看视频讲解
                </li>
                <li>亲自再次coding
                </li>
                <li>个人总结
                </li></ul>

            </section>
        </div>

    </div>

</div>