<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="heap">Heap</h1><p>Heap是伪装成二叉树的线性结构。让我们用最少的空间方便的找到最值。</p><h2 id="进阶">进阶</h2><ul><li>验证heap：<a href="Problem_66.html">题目</a>、<a href="Solution_66.html">解题报告</a>
            </li>
                <li>设计LRU Cache：<a href="Problem_62.html">题目</a>、<a href="Solution_62.html">解题报告</a>
                </li>
                <li>质因数：<a href="Problem_69.html">题目</a>、<a href="Solution_69.html">解题报告</a>
                </li></ul>

            </section>
        </div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>