<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="公开课第三节（图形结构）">公开课第三节（图形结构）</h1>

                <h2 id="公开课视频回放">公开课视频回放</h2>

                <div>
                    <img src="./Image/BitTiger1.png" >
                </div>

                <ul>
                    <li>克隆图：<a href="#/68.克隆图">题目</a>、<a href="#/68.克隆图解题报告">解题报告</a>
                    </li>
                    <li>设计贪吃蛇：<a href="#/31.设计贪吃蛇">题目</a>、<a href="#/31.设计贪吃蛇">解题报告</a>
                    </li>
                    <li>组合数：<a href="#/70.组合数">题目</a>、<a href="#/70.组合数解题报告">解题报告</a>
                    </li>
                    <li>朋友圈：<a href="#/29.朋友圈">题目</a>、<a href="#/29.朋友圈解和解题报告">解题报告</a>
                    </li>
                </ul>

            </section>
        </div>

    </div>

</div>