<div class="page-inner">
    <div id="book-search-results">
        <div class="search-noresults">
            <section class="normal markdown-section">
                <h1 id="数据结构">数据结构</h1><pre data-initialized="true" data-gclp-id="12"><code>程序 = 数据结构 + 算法</code></pre>
                <p>我们会在接下来的两章从这两个角度来思考算法设计的问题。</p>
            </section>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
        <div class="search-results">
            <div class="has-results">
                <h1 class="search-results-title">
                    <span class="search-results-count"></span>
                    results matching "<span class="search-query"></span>"
                </h1>
                <ul class="search-results-list">

                </ul>
            </div>
            <div class="no-results">
                <h1 class="search-results-title">
                    No results matching "<span class="search-query"></span>"
                </h1>
            </div>
        </div>
    </div>

</div>